#sideNav ul {
  margin: 0;
  padding: 0;
  margin-top: 6%;
  width: 10%;
  background-color: #33323d;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  left : 0px;
}
#topNav {
	position:fixed;
	width: 100%;
}
#sideNav li a {
  display: block;
  color: #ff4057;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
#sideNav li a:hover {
  background-color: #444449;
  color: white;
}

#RHS-container {
	height: 20%;
	margin-left: 10%;
	margin-top:7%;
}

h1 {
	text-align: left;
}
#scroll-feed {
	margin-left:30%;
}
.post-container {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left:auto;
	margin-right: auto;
	padding: 10px ;
	padding-right: 10%;
	padding-left: 2%;
	margin: 10px;
	background-color: #292834;	
	width:30%;
	place-items:left;
	text-align: left;
}

.post-profile {
	margin-top:0px;
}

.post-container p{
	color: grey
}

.post-interaction {
	padding-right: 10px;
}